{% extends 'layout.html' %}

{% load static %}

{% block script %}
  <link href="{% static 'register/register.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  Register
{% endblock %}

{% block navbar %}
  <nav>
    <a href="{% url 'about' %}">About Us</a>
  </nav>
{% endblock %}

{% block body %}
  <div class="container">
    <form>
      <h2 id="reg">Register</h2>
      <p>Kindly fill up this form to register</p>
      <br>
      <label for="name">First name:</label>
      <input type="text" id="name" name="name" required>

      <label for="name">Last name:</label>
      <input type="text" id="name" name="name" required>
    
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    
      <label for="retry-password">Retry Password:</label>
      <input type="password" id="retry-password" name="retry-password" required>
    
      <input type="submit" value="Sign Up">
      <br>
      <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
    </form>
  </div>
{% endblock %}