<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="=X-UA-Compatible" content="IE-=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
     <!--============= Styles ==================-->
     <link rel="stylesheet" href="footer.css">

</head>
<body>
     <!--============= footer ==================-->
     <footer class="footer">
        <div class="container">
            <img src="images/logo.png" width=166px height=75px>
            <h6>We aim to help you reach your goal</h6>
            <p>2023 all right reserved term of use <span>E-skwela</span></p>
            <div class=" row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href=#>About us</a></li>
                        <li><a href=#>Goals</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Know more</h4>
                    <ul>
                        <li><a href=#>Mission</a></li>
                        <li><a href=#>Vision</a></li>

                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul>
                        <li>
                            <a href="">
                                <span class="icon">
                                    <ion-icon name="call-outline"></ion-icon>
                                </span>
                                <span class="title">+63 932 731 6334</span>
                            </a>
                        </li>
        
                        <li>
                            <a href="">
                                <span class="icon">
                                    <ion-icon name="mail-outline"></ion-icon>
                                </span>
                                <span class="title">e-skwela@gmail.com</span>
                            </a>
                        </li>
        
                        <li>
                            <a href="">
                                <span class="icon">
                                    <ion-icon name="people-outline"></ion-icon>
                                </span>
                                <span class="title">101 Address, Philippines</span>
                            </a>
                        </li>
        
                    </ul>
                </div>

        </div></footer>
</body>
    
</html>