{% extends 'layout.html' %}

{% load static %}

{% block script %}
    <link href="{% static 'footer-pages/footer-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Goals
{% endblock %}

{% block body %}
    <div class="footer-webpage-container">
        <div class="heading-footer-container">
            Goals
        </div>
        <div class="footer-content-container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Inventore recusandae in beatae fuga sint placeat id explicabo
            maiores ipsam ad deleniti tempore adipisci eveniet 
            perspiciatis nulla totam animi maxime repellendus at sed, 
            dolore laboriosam. Fugiat vel non repellendus distinctio, 
            incidunt quo eveniet illum consequatur odio quisquam itaque
            iusto corporis ipsa illo nobis dolorem architecto modi animi 
            aspernatur earum adipisci exercitationem in error vitae. 
            Laborum minima veniam dolor provident voluptates perspiciatis
            odit error tenetur quod esse soluta tempore accusantium, maiores, 
            ipsum consequuntur rem amet omnis ducimus sequi? Nam illum labore 
            et quis, dignissimos laboriosam culpa velit eaque blanditiis quia,
            quibusdam molestias.
        </div>
    </div>
{% endblock %}