  /* ============= Google Fonts ============ */
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300&display=swap');
  
  /* ============= Globals ============ */
  *{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --blue: #0057FE;
    --lightblue: #BFDFF1; 
    --white: #ffffffff;
    --gray: #454545;
    --lightgray: #877F7F;
  }
  
  html, body{
    height: 100%;
  }

  .instruct-container {
    height: 2000px;
  }

  .icon {
    padding-top: 15px;
  }

  .course-navbar-temp {
    display: none;
    float: center;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
    background-color: #bfdff1;
  }
  
  .course-navbar-temp > a {
    margin: 0 1rem;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .course-navbar-temp > a:hover {
    color: #004aad;
  }

  /* ============= Instructor Navigation ============ */
  
  .instructor-navigation{
    position:absolute;
    background: #BFDFF1;
    transition: 0.2s;
    top: 130px;
    left: 50px;
    width: 280px;
    height: 100%;
    border-radius: 30px;
  }
  
  .instructor-navigation img{
    margin-left: 14px;
    margin-top: 15px;
  }
  
  .instructor-navigation ul{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
  }
  
  .instructor-navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    top: 10px;
    left: 0px;
    
  }
  
  .instructor-navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .instructor-navigation ul li:hover,
  .instructor-navigation ul li.hovered
  {
    background-color: #FFFFFF;
  }
  
  .instructor-navigation ul li:nth-child(1){
    margin-bottom: 10px;
    pointer-events: none;
  }
  
  .instructor-navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #454545; 
  }
  .instructor-navigation ul li a .work{
    color: #0057FE;
    font-weight:600;
    position:relative;
    display: block;
    min-width: 60px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    padding: 0 20px;
  }
  
  .instructor-navigation ul li a .work ion-icon{
    font-size: 1.30rem;
    height: 55px;
  }
  
  .instructor-navigation ul li:hover a,
  .instructor-navigation ul li.hovered a{
    color: #0057FE;
    font-weight:600;
  }
  
  .instructor-navigation ul li a .icon{
    position:relative;
    display: block;
    min-width: 60px;
    height: 55px;
    line-height: 63px;
    text-align: center;
  }
  .instructor-navigation ul li a .icon ion-icon{
    font-size: 1.40rem;
  }
  
  .instructor-navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 20px;
    height: 20px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
  }
  .class-code{
    position:absolute;
    background: linear-gradient(#FFFFFF, #BFDFF1);
    transition: 0.2s;
    top: 470px;
    left: 50px;
    width: 150px;
    height: 15%;
    border-radius: 15px;
    border: 1px solid #BFDFF1;
    box-shadow: 4px 4px 50px 2px rgba(191, 223, 241, 0.5);
    border-radius: 10px;
  }

  .class-code h5{
    font-size: 12px;
    color: #525252;
    margin-left: 20px;
    margin-top: 12px;
  }
  .class-code h1{
    font-size: 20px;
    color: #525252;
    margin-left: 35px;
    font-weight: 600;
  }

  .class-code h1:hover{
    color: #0057FE;
    font-weight: 600;
  }
  
  /* ============= Curve Outside ============ */
  .instructor-navigation ul li:hover a::before,
  .instructor-navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 35px 35px 0 10px #FFFFFF;
  }
  .instructor-navigation ul li:hover a::after,
  .instructor-navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 35px -35px 0 10px #FFFFFF;
  }
  /* ============= Header ============ */
  .main {
    position: absolute;
    width: calc(100% - 400px);
    left: 400px;
    min-height: 100%;
    background-color:#FFFFFF; 
    transition: 0.6s;
    padding-top: 25px;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
  .course{
    display: flex;
    align-items: flex-start;
    color: #0057FE;
    align-items: flex-start;
    font-size: 17px;
  }
  
  .section{
    position:relative;
    margin-top:15px;
    display:flex;
    justify-content:left;
    align-items: flex-start;
    font-size: 15px;
    cursor: pointer;
    color: #454545;
  }
  .section hr {
    position: absolute;
    width: 900px;
    border: 0.5px solid #6eb3e7;
    margin-top: 60px;
  }

  .post {
    max-width: 900px;
    margin-top: 3%;
    display: flex;
    border-radius: 10px;
    position: relative;
    display: block;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom:200px;
  
  }
  .post form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  
  }
  .person {
    flex-direction: row;
    row-gap: 50px;
  }
  .post label {
    font-weight:500;
    font-family: "poppins", sans-serif;
    color: #0057FE;
    padding-left: 12px;
    padding-top: 10px;
    position:absolute;
    font-size: 15px;
  }
  .person{
    padding-left: 20px;
  }
  
  .post input,
  .post textarea {
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #BFDFF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 4px 4px 50px 2px rgba(191, 223, 241, 0.5);
  }
  .post textarea {
    height: 150px;
  }
  
  
  .post button {
    background-color: #BFDFF1;
    color: #0057FE;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 50px 2px rgba(191, 223, 241, 0.5);
  }
  .post textarea:hover{
    transform: scale(1.02);
    transition: ease-in-out 0.3s;  
    background-color: #BFDFF1; 
    }
  .post button:hover{
    transform: scale(1.01);
    transition: ease-in-out 0.3s;  
  }
  .details-list {
    margin-top: 20px;
  }
  
  .details {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #BFDFF1;
    box-shadow: 4px 4px 50px 2px rgba(191, 223, 241, 0.5);
    border-radius: 10px;
  }
  .details:hover{
    transform: scale(1.005);
    transition: ease-in-out 0.3s;   
  }
  
  .details h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "poppins", sans-serif;
    color: #0057FE;
    font-size: 15px;
    font-weight: 500;
    left: 20px;
    padding-left: 60px;
    padding-top: -40px;
    position:static;
  
  }
  .details img{
    position:absolute;
  }
  .details h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "poppins", sans-serif;
    color: #877F7F;
    font-size: 13px;
    font-weight: 500;
    padding-left: 60px;
  
  }
  .details p {
    margin: 20px;
    font-size: 14px;
    line-height: 25px;
  }
  .view a .icon ion-icon{
    font-size: 1.5rem;
    color: #0057FE;
    margin-left:820px;
  }
  .view a .icon ion-icon:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.3s;  
    color: #454545;
  
  }

  @media (min-width: 936px) and (max-width: 1366px) {
    .main{
        overflow: hidden;
        width: 500px;
    }
    .instructor-navigation{
        /* height: 63%; */
        align-items: flex-start;
        margin-top: 30px;
        top:auto;   
    }

}

@media (min-width: 600px) and (max-width: 935px) {
    .main{
        overflow: hidden;
        width: 400px;
        margin-left: -150px;
    }
    .instructor-navigation{
        /* height: 63%; */
        /* align-items: flex-start;
        margin-top: 30px;
        top:auto;  
        width: 150px;  */
        display: none;

    }

    .course-navbar-temp {
      display: block;
    }

    .class-code {
        left: 0px;
        width: 125px;
        height: 15%;
        margin-top: 130px;
    }
    .class-code h5{
        font-size: 10px;
    }
    .class-code h1{
        font-size: 20px;
        margin-left: 20px;
    }

    .instructor-navigation ul li a .icon ion-icon{
        font-size: 1.0rem;
    }   
    .post {
        max-width:600px;

    }
    .instructor-navigation ul li a .icon{
        min-width:30px;
        left: -15px;
    }
    .instructor-navigation img{
        width: 110px;
        margin-left: -20px;
    }
    .instructor-navigation ul li a .title{
        padding: 0 0;
        height: 15px;
        left: -10px;
    }

}  
@media (max-width: 599px) {
    .main{
        overflow: hidden;
        width: 235px;
        width: calc(100% -100px );
        left: 100px;
    }

    .instructor-navigation{
        /* height: 70%; */
        align-items: flex-start;
        width: 100px;   
        left: 10px;
        padding-top: 30px;
        margin-top: 30px;
        top:auto;
    }
    .class-code {
        left: 0px;
        width: 125px;
        height: 15%;
        margin-top: 200px;
    }
    .class-code h5{
        font-size: 10px;
    }
    .class-code h1{
        font-size: 20px;
        margin-left: 20px;
    }
    .instructor-navigation ul li a .icon ion-icon{
        font-size: 1.0rem;
    }   

    .instructor-navigation ul li a .icon{
        min-width:30px;
        left: -15px;
    }
    .instructor-navigation img{
        width: 110px;
        margin-left: -20px;
    }
    .instructor-navigation ul li a .title{
        padding: 0 0;
        height: 15px;
        left: -10px;
    }

}  